<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGPOST SIGN UP</title>
    <link rel = "stylesheet" href = "..\static\signup_page.css">

</head>
<body>
    <div class = "signup_page">
        <form action="/signup_page.html" method="post">
            Email: <input type = "email" class = "signup_page_email" id="signuppageemail" name="signuppageemail" required>
        <br>
        Username: <input type="text" class = "signup_page_username" id="signuppageusername" name="signuppageusername" required>
        <br>
            PassWord: <input type = "password" class = "signup_page_password" id="signuppagepassword" name="signuppagepassword" required>
        <br>
            <a href = "login_page.html" class = "signup_page_haveaccount">Already have a Account? login now </a>
        <br>
        <input type="submit" class = "signup_page_submit_btn" id="signupsubmit">
        </form>
        {{message}}
    </div>
    <script>
        
            
    </script>
</body>
</html>